body{
    direction: rtl;
}
.hello{
    font-size: large;
    font-style: italic;
}

#i  {
    color: blue;
    font-size: 150;
    font-style: italic;
    font-stretch: ultra-condensed;
}
div h4{
    color: #a52e46;
    font-size: 150;
    font-style: oblique;
}
input[type="text"]{

    color: red;
}
input[value="ok"]{
    background: green;
}
input[ type="password"]{
    background:#748ddf;
    color: #1edb57;
}
.x{

    height: 20px;
    width:5%;
    background: black;
    border-color:yellow;
    border-width: 30px;
    border-left: 10px;
    border-top-left-radius: 50px;
    border-style: double;
}
.fm >p{
  color:#ff002b;
}

